In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('MOCK_DATA.csv', sep=',')
data.head()

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,9210,JZH,SKC,3/16/2022,12:10 PM,9/23/2021,12:51 AM,6.84,Air France,68.02
1,1845,BNT,BMF,8/4/2022,12:21 AM,10/25/2021,1:22 AM,6.12,Delta,279.96
2,8694,EIN,TGZ,6/11/2021,11:54 PM,8/26/2022,9:36 AM,16.66,Delta,614.39
3,2167,NaN,NNL,11/7/2021,NaN,8/24/2021,6:34 PM,12.01,Southwest,735.86
4,2779,KNG,DRR,7/3/2022,NaN,6/6/2021,3:17 PM,22.04,Southwest,881.59